name: Visualize Only

on:
  workflow_dispatch: {}

jobs:
  visualize-only:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run visualize_model.py
      run: |
        RUN_ID=$(cat run_id.txt)
        echo "Using RUN_ID=$RUN_ID"

        python3 src/visualize_model.py \
          --bucket "${{ secrets.GCS_BUCKET }}" \
          --gcs_path "ohlcv-data" \
          --run_id "$RUN_ID"

    - name: Upload visualization artifacts
      uses: actions/upload-artifact@v4
      with:
        name: visualize-plots
        path: evaluation/
